@layer base {
  html {
    scrollbar-color: oklch(var(--color-base-300)) transparent;
  }

  body {
    color: oklch(var(--color-base-content));
    background: oklch(var(--color-base-100));
    overflow-x: clip;
    touch-action: manipulation;
  }

  *::selection {
    color: oklch(var(--color-primary-content));
    background: oklch(var(--color-primary));
  }
}

@layer components {
  .table tr.active {
    background-color: var(--b2);
  }

  .table.table-hover tbody tr:hover {
    background-color: var(--b2);
  }
}
