@layer base {
  html {
    scrollbar-color: oklch(var(--base-300)) transparent;
  }

  body {
    color: oklch(var(--base-content));
    background: oklch(var(--base-100));
    overflow-x: clip;
    touch-action: manipulation;
  }

  *::selection {
    color: oklch(var(--primary-content));
    background: oklch(var(--primary));
  }
}
