@layer base {
  html {
    scrollbar-color: hsl(var(--color-base-300)) transparent;
  }

  body {
    color: hsl(var(--color-base-content));
    background: hsl(var(--color-base-100));
    overflow-x: clip;
    touch-action: manipulation;
  }

  *::selection {
    color: hsl(var(--color-primary-content));
    background: hsl(var(--color-primary));
  }
}
